*{
  margin: 0;
  padding: 0;
outline: 0;

}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

li{
    list-style: none;
}

.header-menu{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 60px;
    background-color: saddlebrown;
}

.header-menu nav{
display: flex;
justify-content: flex-end;
width: 100%;
}